.shippingReturnsPageWrapper > h1 {
    background: rgba(186, 187, 191, 0.55);
    display: block;
    width: 100%;
    padding: 12px 0 12px;
    font-family: Genath;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
}
body.pages_page .global_header {
    box-shadow: none!important;
}

.fixedSidebarUI {
    position: absolute;
    left: 0;
    top: 50px;
    padding-top: 21px;
    bottom: 0;
    background: #242424;
    width: 330px;
}

.expandedAnswersUI {
    margin-left: 330px;
    margin-right: 40px;
    padding-left: 40px;
    text-align: left;
}

.fixedSidebarUI .subsection {
    text-align: left;
    padding-left: 22px;
    color: #e1e1e1;
    font-size: 14.5px;
    position: relative;
    line-height: 1.35;
    cursor: pointer;
    margin-bottom: 16px;
    padding-right: 22px;
}

.fixedSidebarUI .subsection h5 {
    font-weight: 300;
    letter-spacing: .035em;
}

.fixedSidebarUI .subsection:hover {
    color: #FFFFFF;
}

.fixedSidebarUI .subsection:hover h5 {
    font-weight: bold;
}
.subsection.activeContentSection {
    color: #FFFFFF;
}

.subsection.activeContentSection h5 {
    font-weight: bold;
}

.subsection.activeContentSection:after {
    position: absolute;
    right: 0;
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 11px 12px 0;
    border-color: transparent #fafafa transparent transparent;
    top: 50%;
    margin-top:-11px;
}
.expandedBlocks > .expandedQuestionUI {
    background: #FFFFFF;
    border: 1px solid rgba(186, 187, 191, 0.15);
    margin-bottom: 24px;
    padding: 24px;
    border-radius: 0px;
}
.expandedQuestionUI.expandedSectionActive {
    border-color: #fde06f;
    box-shadow: 0 0 0 1px #fde06f inset;
}
.expandedBlocks > .expandedQuestionUI > h1 {
    line-height: 1;
    font-weight: 100;
    letter-spacing: .035em;
    font-size: 29px;
    margin-bottom: 6px;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 9px;
}
.shippingReturnsPageWrapper {
    text-align: center;
    background: #fafafa;
}
.accordionRow:hover h1.title {
    color: #e0b300;
}

.accordionRow:hover div.visible span:after, .accordionRow:hover div.visible span {
    background: #e0b300;
}

.accordionRow.accordionRowActive div.visible span {
    background: transparent!important;
}
.accordionUI {
    padding: 0;
}

.accordionRow {background: #FFFFFF;margin-bottom: 0px;border-bottom: 1px solid rgba(186, 187, 191, 0.15);text-align: left;cursor: pointer;-webkit-transition: color 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;-moz-transition: color 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;-ms-transition: color 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;-o-transition: color 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;transition: color 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;}

.accordionRow .subsection {
    max-width: 890px;
    margin: 0 auto;
    padding: 20px 0 20px;
    position: relative;
}

.accordionRow .subsection h1 {
    font-weight: 100;
    padding-top: 9px;
    font-size: 30px;
    -webkit-transition: color 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: color 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: color 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: color 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: color 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.accordionRow .subsection .visible span {
    width: 2px;
    height: 23px;
    border-radius: 1px;
    background: #110c0e;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 2px;
    -webkit-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
}

.accordionRow .subsection .visible {
    position: relative;
}
.accordionRow.accordionRowActive .subsection:before {
    position: absolute;
    content: '';
    left: -28px;
    width: 4px;
    top: 20px;
    border-radius: 10px;
    bottom: 23px;
    background: #e0b300;
}
.accordionRow.accordionRowActive .subsection .visible h1.title {
    color: #e0b300;
    font-weight: bold;
}
.accordionRow .subsection .visible span:after {content: '';position: absolute;width: 2px;height: 23px;border-radius: 1px;background: #110c0e;transform: rotate(90deg);-webkit-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;-moz-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;-ms-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;-o-transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;transition: all 250ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;}

.accordionRow:hover {
    background: #fafafa;
}

.accordionRow.accordionRowActive .hidden {
    display: block!important;
    margin-top: 20px;
}

.expandedQuestionUI p,.expandedQuestionUI ul {.fixedSidebarUI.sidebarFixedStateActive {
    position: fixed;
    top: 99px;
    left: 0;
    bottom: 0; }
    font-family: g;
    font-family: genath!important;
}

.expandedQuestionUI ul > li {
    padding-left: 16px;
    position: relative;
}

.expandedQuestionUI ul {
    margin-top: 5px;
}

.expandedQuestionUI ul > li:before {content: '';position: absolute;left: 0;background: #e0b300!important;width: 9px;opacity: .4;height: 3px;border-radius: 3px;top: 12px;}

.expandedQuestionUI ul > li > a {}

.expandedQuestionUI p a {
    color: #e0b300!important;
    text-decoration: none;
    border-bottom: 2px solid #e0b300!important;
    font-family: 'Univers', Arial, sans-serif;
    font-size: 14.5px;
    font-weight: bold;
}
.accordionRow.accordionRowActive .visible span {
    background: transparent;
}


.accordionRow.accordionRowActive .hidden p {
    color: rgba(17, 12, 14, 0.75);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}